{% extends 'accounts/main.html' %}

{%block content%}

<section class="u-align-left u-clearfix u-grey-10 u-section-1" id="carousel_9587">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-custom-font u-font-raleway u-text u-text-default u-text-1">About Us &amp; Our Work</h2>
      <p class="u-text u-text-2">We provide expert solutions in Employee productivty capturing and KPI management.</p>
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <div class="u-border-15 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
              <h3 class="u-custom-font u-font-montserrat u-text u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">236</h3>
              <p class="u-text u-text-4">Companies Server</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <div class="u-border-15 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-2"></div>
              <h3 class="u-custom-font u-font-montserrat u-text u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">17</h3>
              <p class="u-text u-text-6">awards won</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <div class="u-border-15 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-3"></div>
              <h3 class="u-custom-font u-font-montserrat u-text u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">408</h3>
              <p class="u-text u-text-8">happy clients</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <div class="u-border-15 u-border-custom-color-1 u-expanded-width u-line u-line-horizontal u-line-4"></div>
              <h3 class="u-custom-font u-font-montserrat u-text u-text-9" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">150</h3>
              <p class="u-text u-text-10">projects finished</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{%endblock%}